.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
